* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}body {
    display: flex;
    background-color: #0d4b2c;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;}#container {
    width: 500px;
    height: 500px;
    background: #E4FDE1;
    margin: 10px auto;
}ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    color: #E4FDE1;
}
ul li {
    background: #578f46;
    width: 30%;
    height: 150px;
    border: 1px solid #028090;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;
}
h1{
	color:#E4FDE1;
	text-align: center;
}
.empty{
	background: #eccedd;
    border: 2px solid #114B5F;
}